PORT=5001

DB_HOST=localhost
DB_PORT=8889
DB_USER=root
DB_PASSWORD=root
DB_NAME=rotijugaad

JWT_SECRET=supersecretkey_here_change_it
CASHFREE_ENVIRONMENT=SANDBOX
CASHFREE_APP_ID=your_cashfree_app_id
CASHFREE_SECRET_KEY=your_cashfree_secret_key
